
   {{ form_start(form) }}
   	<div class="form-group row">
   		<label for="nom" class="col-md-3 col-form-label mr-2" >Nom:	  </label>
   		<div class="col-md-3">
   		{{ form_widget(form.nom) }}
   		</div>
   	</div>
   	<div class="form-group row">
   		<label for="portable" class="col-md-3 col-form-label mr-2" >Portable:</label>
   		<div class="col-md-3">
       {{ form_widget(form.portable) }}
   		</div>
   </div>
    <div class="form-group row">
		    <div class="offset-md-3 col-md-9">
          <button type="submit" class="btn btn-primary ml-3">Envoyer</button>
        </div>
	</div>
    {{ form_end(form) }}
    