<div class=" bg-dark">
	<div class="row pt-5">
		<div class="col-md-12 text-center" >
			<a class="btn btn-info" href="{{path('page_admin_show')}}">Page Admin</a>
		</div>
	</div>
			<p class="text-white ml-5 font-italic">lepressing 2018</p>
</div>