{% extends 'layout.html.twig' %}
{% block body %}
	<div class="table-bordered pl-2 pr-2 pt-5 pb-5">
		<h1>Le Nettoyage de rideaux entre les mains d'un véritable professionnel</h1>
		<div class="row pt-3 pb-3">
			<div class="col-md-6">
				<p class="font-weight-normal text-justify">
					Pressing Philippe Auguste est spécialisé dans le <b>nettoyage de rideaux,</b> de double rideaux et de voilages quelque soit leurs tailles<br><br>
					Le nettoyage de vos rideaux, doubles rideaux et voilages se fera soit à sec, soit à l’eau en fonction de la fragilité du tissu. Nous effectuerons un pré-détâchage si nécessaire pour les tâches délicates à traiter comme le vin, le café, le gras… Une fois nettoyés, vos rideaux seront ensuite repassés par notre équipe avant de vous être restitués dans un état impeccable.
				</p>
				<h5>les Tarifs</h5>
				<ul>
 					<li>Tarif 1</li>
 					<li>Tarif 1</li>
 					<li>Tarif 1</li>
				</ul>
				<p>Je veux faire une contacte:<a href="{{path('contact')}}" class="btn btn-success">Je remplis le formulaire</a></p>
			</div>
			<div class="col-md-6">
				<p><img src="#" alt="image de rideaux"></p>
				<h3>Les engagements de Pressing Philippe Auguste :</h3>
				<div class="row">
					<div class="col-md-6">
						<div class="row">
							<div class="col-1"><i class="fas fa-bolt"></i></div>
							<div class="col"><h4>Rapidité</h4></div>
						</div>
						<p>dans 24 Heure</p>
					</div>
					<div class="col-md-6">
						<div class="row">
							<div class="col-1"><i class="far fa-hand-point-up"></i></div>
							<div class="col"><h4>Professionnel</h4></div>
						</div>
						<p>Un nettoyage et un repassage dans les règles de l’art.</p>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6 ">
						<div class="row">
							<div class="col-1"><i class="fas fa-check-square"></i></div>
							<div class="col"><h4>Qualité</h4></div>
						</div>
						<p>Un travail de haute qualité à des prix compétitifs.</p>
					</div>
					<div class="col-md-6">
						<div class="row">
							<div class="col-1"><i class="fas fa-plus-circle"></i></div>
							<div class="col"><h4>Service plus</h4></div>
						</div>
						<p>Un emballage très bien étudié.</p>
					</div>
				</div>
			</div> 			
		</div>
	</div>
{% endblock %}